* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

::backdrop {
    background-color: black;
    opacity: 0.5;
    
}

button {
    height: 30px;
    width: 90px;
    border: none;
    background-color: aqua;
    color: white;
    align-self: flex-end;
}

button:hover {
    background-color: darkcyan;
    cursor: pointer;
}

button:active {
    transform: scale(0.98);
    transition: 0.05s ease-out;
}

input[type="checkbox"]:hover {
    cursor: pointer;
}

td {
    text-align: center;
}

tr, td, th {
    border: 1px solid black;
    padding: 20px;
}

table {
    line-height: 25px;
    width: 100%;
    margin-top: 2rem;
    border-collapse: collapse;
}

.maincontent {
    padding: 5rem;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}